:root {
    --page-accent-color: #00A5B5;
    --page-accent-color-2: #F8B195;
    --page-background: #0C1E2C;
    --athiktos-theme-color-1: rgba(154, 234, 221, 1);
    --athiktos-theme-color-2: rgba(0, 23, 54, 1);
    --sfuAnimeClub-theme-color-1: rgba(13, 82, 124, 1);
    --sfuAnimeClub-theme-color-2: rgba(144, 33, 76, 1);
    --home-page-animation-background-color: #685D7E;
}

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    /* from:https://www.w3schools.com/howto/howto_css_smooth_scroll.asp#section1 */
    scroll-behavior: smooth;
}

body {
    font-family: "Neue", Arial, sans-serif;
    background-color: var(--page-background);
    color: white;
}

section {
    min-height: 50rem;
    position: relative;
}

a {
    position: relative;
    color: white;
}

nav {
    position: relative;
    font-weight: bold;
    display: grid;
    grid-row: auto;

    /* grid-template-columns: 8fr 1fr 1fr 1fr; */
}

nav div {
    margin: auto;
}

nav a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 1rem 1rem;
    transition: all 0.3s;
}

.nav-right-grid {
    grid-template-columns: 1fr 1fr 1fr;
}

/* underline animation from:https://www.30secondsofcode.org/css/s/hover-underline-animation */
.underline-animation-right:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    right: 0;
    /* background-color: #00A5B5; */
    background-color: var(--page-accent-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.underline-animation-right:hover:after,
.underline-animation-right:focus:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.underline-animation-left:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.underline-animation-left:hover:after,
.underline-animation-left:focus:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

p {
    max-width: 30rem;
    font-size: 1.2rem;
}

img {
    max-width: 35rem;
}

#main-banner {
    position: relative;
    min-height: 100vh;
}

#main-h1 {
    font-size: 5rem;
}

#main-p {
    font-size: 1.5rem;
}

#about {
    background: rgb(12, 30, 44);
    background: linear-gradient(180deg, rgba(12, 30, 44, 1) 0%, rgba(240, 115, 115, 1) 100%);
}


.project-preview {
    padding: 1.2rem 0;
    color: white;
    overflow: hidden;
}


#main-text {
    z-index: 1000;
    position: absolute;
    top: 40%;
    left: 2rem;
    /* from https://www.w3schools.com/howto/howto_css_center-vertical.asp */
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.about-grid,
.works-grid,
.contact-me-grid {
    padding: 1rem 1rem;
    row-gap: 1rem;
    min-height: inherit;
}

.contact-me-grid {
    padding-bottom: 0;
}

.contact-me-media {
    position: relative;
}

.text {
    margin-left: auto;
    margin-right: auto;
    z-index: 1000;
}

.media {
    display: none;
    margin-left: auto;
    margin-right: auto;
    z-index: 1000;
    max-width: 50rem;
    height: auto;
}

.main-text {
    position: absolute;
    top: 40%;
    /* from https://www.w3schools.com/howto/howto_css_center-vertical.asp */
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

video {
    width: 100%;
    height: auto;
}

h2 {
    font-size: 4rem;
    margin: 1.2rem 0;
}

h3 {
    font-size: 3.5rem;
    margin: 1.2rem 0;
    max-width: 30rem;
}

.vertically-centered {
    margin-top: auto;
    margin-bottom: auto;
}

.right-align {
    text-align: right;
}

.grid {
    display: grid;
    position: relative;
}

.main-banner-link {
    text-decoration: none;
}

#athiktos {
    position: relative;
    min-height: 60rem;
    background: var(--athiktos-theme-color-1);
    background: linear-gradient(178deg, var(--athiktos-theme-color-1) 0%, var(--athiktos-theme-color-2) 100%);
}

#athiktos p,
#athiktos-banner p,
#athiktos h3,
#athiktos-banner h1 {
    text-shadow: 0 0 5px var(--athiktos-theme-color-2);
}

#sfuAnimeClub {
    position: relative;
    min-height: 60rem;
    background: var(--sfuAnimeClub-theme-color-1);
    background: linear-gradient(178deg, var(--sfuAnimeClub-theme-color-1) 0%, var(--sfuAnimeClub-theme-color-2) 100%);
}

#sfuAnimeClub p,
#sfuAnimeClub-banner p,
#sfuAnimeClub h3,
#sfuAnimeClub-banner h1 {
    text-shadow: 0 0 5px var(--sfuAnimeClub-theme-color-1);
}

.sfuAnimeClub-link {
    font-size: 1.3rem;
    background: #b54e66;
    color: white;
}

.sfuAnimeClub-link:hover,
.sfuAnimeClub-link:focus {
    background: #ed7a2d;
    color: white;
}

.svg-decro {
    position: absolute;
}

.text p {
    margin: 1.6rem 0;
    margin-bottom: 3rem;
}

.in-text-link {
    color: inherit;
    /* text-decoration-color: #F8B195; */
    text-decoration-color: var(--page-accent-color-2);
    padding: 0.2rem;
    margin: 0.2rem;
    transition: all 0.3s ease-in-out;
}

.in-text-link:hover,
.in-text-link:focus {
    /* background-color: #00A5B5; */
    background-color: var(--page-accent-color);
}

.project-link {
    font-weight: bold;
    font-size: 1.2rem;
    /* margin: 5rem; */
    display: inline-block;
    text-decoration: none;
}

.project-process-body-list {
    max-width: 45rem;
    font-size: 1.2rem;
    margin-left: 2rem;
}

.project-process-body-list li {
    margin-bottom: 0.5rem;
}

.project-link-backgorund {
    padding: 00.7rem 1.5rem;
    border-radius: 4rem;
    transition: all ease 0.3s;
}


.athiktos-link {
    font-size: 1.3rem;
    background: #56BDA2;
    color: white;
}

.athiktos-link:hover,
.athiktos-link:focus {
    background: #DBB13B;
    color: white;
}

.project-banner {
    display: grid;
    min-height: 45rem;
}

.project-banner-text {
    z-index: 1000;
    text-align: center;
    margin: auto;
}

.project-banner-text h1 {
    font-size: 5rem;
}

.project-banner-text p {
    font-size: 1.5rem;
    max-width: 100%;
    text-align: center;
}

#athiktos-banner {
    background: rgb(154, 234, 221);
    background: linear-gradient(178deg, var(--athiktos-theme-color-1) 0%, var(--athiktos-theme-color-2) 100%);
    overflow: hidden;
}

#athiktos-process {
    padding: 0.5rem 0.5rem;
    background: rgb(0, 23, 54);
    background: linear-gradient(180deg, var(--athiktos-theme-color-2) 0%, rgba(89, 136, 129, 1) 100%);

}

#sfuAnimeClub-banner {
    background: var(--sfuAnimeClub-theme-color-1);
    background: linear-gradient(178deg, var(--sfuAnimeClub-theme-color-1) 0%, var(--sfuAnimeClub-theme-color-2) 100%);
    overflow: hidden;
}

#sfuAnimeClub-process {
    padding: 0.5rem 0.5rem;
    background: var(--sfuAnimeClub-theme-color-2);
    background: linear-gradient(180deg, var(--sfuAnimeClub-theme-color-2) 0%, var(--sfuAnimeClub-theme-color-1) 100%);

}

.project-media {
    max-width: 100%;
    height: auto;
}

.project-media-grid-2-column {
    margin: 5rem 0;
    row-gap: 1rem;
}

.project-media-grid-1-column {
    display: grid;
    margin: 2rem 1rem;
    row-gap: 1rem;
}

ul {
    list-style: circle;
}

.project-process h2,
.project-process h3,
.project-process h4,
.project-process p {
    font-weight: normal;
    margin: 2.5rem 0.5rem;
}

.project-process h2 {
    font-weight: bold;
    font-size: 3.5rem;
}

.project-process h3 {
    font-size: 2.5rem;
}

.project-process h4 {
    font-style: italic;
    font-size: 1.75rem;
}

.project-process p {
    max-width: 40rem;
}

section.project-section {
    min-height: 10rem;
    padding: 1.5rem 0;
}

.main-banner-video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.main-banner-video,
.main-banner-video-small,
.main-banner-video-mid {
    position: absolute;
    top: 0;
    right: 0%;
    height: 100%;
    width: auto;
    z-index: 1;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.main-banner-video {
    display: none;
    min-width: 1920px;
    width: 100%;
    height: auto;
}


#animation,
#illustration {
    margin: 0%;
    padding: 1rem 0.5rem;
    /* background: #332e65; */
    background: rgb(51, 46, 101);
    background: linear-gradient(90deg, rgba(51, 46, 101, 1) 52%, rgba(137, 153, 222, 1) 100%);
    border-top: 0.3rem solid #e4eff2;
    border-bottom: 0.3rem solid #e4eff2;
}

.project-preview-video,
.project-preview-img {
    border-radius: 2rem;
    box-shadow: 0px 0px 20px #38364291;
    max-width: 35rem;
    height: auto;
}


#name-nav {
    width: auto;
    display: inline-block;
    transition: all 0.2s ease;
}

#name-nav:hover,
#name-nav:focus {

    background: var(--page-accent-color);
}

#contact-me {
    position: relative;
    background: rgb(12, 30, 44);
    background: linear-gradient(111deg, rgba(12, 30, 44, 1) 0%, rgba(53, 94, 126, 1) 49%, rgba(240, 115, 129, 1) 100%);
}

#contact-me-video {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 40rem;
    width: auto;
    height: auto;
}

#works {
    border-bottom: 0.3rem solid #e4eff2;
}